# Globals
NODE_ENV=development

# Database
DATABASE_NAME=vorasion
DATABASE_USER=admin
DATABASE_PASSWORD=supersecure
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Bot
DEV_GUILD_ID=
DISCORD_OWNER_ID=
TOKEN=
