**/node_modules

# Keep environment variables out of version control
**/.env
**/.env.*

# These are just examples, they're safe to commit to source control.
!**/.env.example

# build output
**/dist/

# logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# macOS-specific files
**/.DS_Store

# Nuxt dev/build outputs
**/.output
**/.data
**/.nuxt
**/.nitro
**/.cache

# Logs
**/logs
**/*.log

# Misc
**/.fleet
**/.idea
**/spoilers
