<%- include("include/base.ejs", { title: "Unauthorized" }) %>

<main
    class="mt-36 flex flex-col items-center justify-center rounded-3xl bg-gray-700 p-4 text-white"
>
    <h1 class="mb-2 text-4xl font-extrabold">Unauthorized</h1>
    <p class="mb-4 text-xl">You are not authorized to access this page</p>
    <a
        href="/"
        class="rounded-2xl border-2 border-primary-300 px-4 py-2 text-primary-300 duration-700 hover:translate-y-1 hover:scale-110 hover:bg-primary-300 hover:text-white"
        >Home</a
    >
</main>
