<!doctype html>
<html lang="en">
    <head>
        <%- include("baseHead.ejs", { title }) %>
    </head>
    <noscript>
        <h1>Sorry.</h1>
        <p>
            Sorry, but JavaScript is required to view this site! Please enable
            it, then refresh the page!
        </p>
    </noscript>
</html>
